article.list
    for item in workers
        section.list__item.item
            div.item__header= item.name
                i.item__icon
                    img.item__image(src= item.avatar)
            div.list__body
                a.item__title= item.name
                p.item__subtitle= item.position
                p.item__content= item.location
    else
        p.list__no-data= site.noData


